body.index {
    background-color: navy;
}

.odin {
    color: green;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    
}

.follow-er {
    color: white;
    font-size: large;
    font-weight: bold;
}

body, .center {
    text-align: center;
}

.enchiladas {
    background-color: green;
    color: yellow;
}




