.index,.odin {
    background-color: navy;
    color: green;
    font-weight: bold;
    text-align: center;
    }
    
 p,.follow-er {
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.enchiladas {
background-color: tan;
color: black;
font-size: large;
}

.enchi {
    text-align: left;
}

.chili {
    background-color: gold;
    font-size: large;
}

.french {
    background-color: aquamarine;
    font-size: large;
}
